@charset "UTF-8";

/*
Paleta de Cores
--------------------------
Verde: #49a09d
Lilás: #5f2c82
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, html{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}
main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
section#login{
    top: 50%;
    left: 50%;
    width: 250px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    background-color: white;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    /*Existem formas mais eficientes e fáceis de fazer essa centralizaçaõ.*/
    /*Criando Animação de transição*/
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
section > div#imagem{
    height: 200px;
    display: block;
    background-size: cover;
    /*border-radius: 20px 20px 0px 0px;*/
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat left bottom;
}
section#login > div#formulario{
    padding: 10px;
    display: block;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}